<main>
  <section>
    <h3>Task Management</h3>
    <div class="col d-flex mb-2" style="float:right">
      <select *ngIf="arrayValue.length > 1" class="form-select" aria-label="Default select example"
        [(ngModel)]="selectedOption" placeholder="select" [disabled]="!selectDisable" style="width: 170px;">
        <option selected></option>
        <option value="Completed">Completed</option>
        <option value="In-complete">In-Completed</option>
      </select>
      &nbsp;&nbsp;
      <button *ngIf="arrayValue.length > 1" type="button" class="btn btn-primary " (click)="updateAll()"
        [disabled]="selectedOption == ''">Update</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary " (click)="clear()" [disabled]="arrayValue.length==0">Clear
        All</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="formval = 'save';userForm.reset()">Add New</button>
    </div>
    <table class="table table-responsive table-hover table-bordered">
      <thead>
        <tr>
          <th style="text-align:center"> <input *ngIf="arrayValue.length > 1" type="checkbox" [(ngModel)]="selectAll"
              id="defaultCheck0" (ngModelChange)="selectAllData()"></th>
          <th>S.NO</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th style="text-align:center;">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of arrayValue;let j=index;">
        <tr>
          <td style="text-align:center">
            <input type="checkbox" [(ngModel)]="item.select" id="defaultCheck1" (ngModelChange)="selectChange()">
          </td>
          <td>{{j+1}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Description}}</td>
          <td>{{item.Status}}</td>
          <td style="text-align:center;">
            <button style="border: none;" (click)="EditData(item,j);formval = 'update'" data-bs-toggle="modal"
              data-bs-target="#exampleModal" [disabled]="item.select"><i style="color:#0d6efd;"
                class="bi bi-pencil-square"></i></button>&nbsp;&nbsp;
            <button style="border: none;" (click)="DeletePopup(j)" data-bs-toggle="modal"
              data-bs-target="#exampleModal1" [disabled]="item.select"><i style="color:red;"
                class="bi bi-trash3"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="formval == 'save'" id="exampleModalLabel">Add New Entry</h5>
          <h5 class="modal-title" *ngIf="formval == 'update'" id="exampleModalLabel">Update Entry</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userForm">
            <div class="form-group mb-2">
              <div class="col-lg-12">
                <label class="col-lg-3"> Title <sup style="color:red">*</sup> </label>
                <input class="col-lg-6 form-control" type="text" formControlName="Name">
              </div>
            </div>
            <div class="form-group mb-2">
              <div class="col-lg-12">
                <label class="col-lg-3"> Description <sup style="color:red">*</sup> </label>
                <textarea class="col-lg-6 form-control" type="text" formControlName="Description"> </textarea>
              </div>
            </div>
            <div class="form-group mt-3">
              <div class="col-lg-12 d-flex">
                <label class="col-lg-3"> Status <sup style="color:red">*</sup> </label>
                <div class="col-lg-9">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input " type="radio" formControlName="Status" id="inlineRadio1"
                      value="Completed">
                    <label class="form-check-label" for="inlineRadio1">complete</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="Status" id="inlineRadio2"
                      value="In-complete">
                    <label class="form-check-label" for="inlineRadio2">In-Complete</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="formval == 'save'" type="submit" class="btn btn-primary" (click)="save()"
            [disabled]="!userForm.valid" data-bs-dismiss="modal">Save</button>
          <button type="button" *ngIf="formval == 'update'" type="submit" class="btn btn-primary" (click)="update()"
            [disabled]="!userForm.valid" data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete the Record ?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="Deleterecord()"
            data-bs-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>



</main>